/* text H */
.h60 {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.286;
}

.h50 {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.25;
}

.h40 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1.222;
}

.h30 {
  font-weight: 800;
  font-size: 2.1rem;
  line-height: 1.238;
}

/* text L */
.l20 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.222;
}


/* text M */
.m20 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.333;
}

.m10 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.467;
}


/* text S */
.s20 {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.231;
}

.s10 {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.385;
}

.xs10 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.273;
}
